* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body {
  background: #efefef;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1876f2;
  padding: 5px 5%;
  padding-left: 32px;
  position: sticky;
  top: 0;
  z-index: 100;
}
.logo {
  width: 160px;
  margin-right: 45px;
}
.nav-left, .nav-right{
  display: flex;
  align-items: center;
}
.nav-left ul li {
  list-style: none;
  display: inline-block;
}
.nav-left ul li img {
  width: 28px;
  margin: 0 15px;
}

.nav-user-icon img {
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
}
.nav-user-icon {
  margin-left: 30px;
}
.search {
  background: #efefef;
  width: 350px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 0 15px;
}
.search img {
  width: 18px;
}
.search input {
  width: 100%;
  background: transparent;
  padding: 10px;
  outline: none;
  border: 0;
}
.online {
  position: relative;
}
.online::after {
  content: '';
  width: 7px;
  height: 7px;
  border: 2px solid #fff;
  border-radius: 50%;
  background: #41db51;
  position: absolute;
  top: 0;
  right: 0;
}
section {
  width: 1300px;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
}
.Profile-background img{
  width: 100%;
  height: 500px;
}
.nav-profile {
  background-color: #fff;
  padding: 0;
}
.nav-profile ul{
  display: flex;
  padding: 5px 20%;
}
.nav-profile li {
  display: flex;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  padding: 0 25px 0 25px;
}

/* Main Part Notification */

body {
  font-family: "Roboto", sans-serif;
  background: #EFF1F3;
  min-height: 100vh;
  position: relative;
}
a {
  text-decoration: none;
}
main {
  margin-top: 20px;
}
.logo-title{
    font-size: 25px;
    font-weight: bold;
    color: #9e0000;
}
.section {
  padding: 5px 0;
}
.m-b-50 {
  margin-bottom: 5px;
}
.dark-link {
  color: #333;
  text-decoration:none;
}
.heading-line {
  position: relative;
  padding-bottom: 5px;
}
.heading-line:after {
  content: "";
  height: 4px;
  width: 75px;
  background-color: #0355d0;
  position: absolute;
  bottom: 0;
  left: 0;
}
.notification-ui_dd-content {
  margin-bottom: 30px;
}
.notification-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 7px;
  background: #fff;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);
}
.notification-list--unread {
  border-left: 2px solid #0355d0;
}
.notification-list--read {
  border-left: 2px solid #03ae30;
}
.notification-list .notification-list_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.notification-list .notification-list_content .notification-list_img img {
  height: 48px;
  width: 48px;
  border-radius: 50px;
  margin-right: 20px;
}
.notification-list .notification-list_content .notification-list_detail p {
  margin-bottom: 5px;
  line-height: 1.2;
}
.notification-list .notification-list_feature-img img {
  height: 48px;
  width: 48px;
  border-radius: 5px;
  margin-left: 20px;
}